body {
  background-color: white;
  margin: 0px;
  font-size: .9em;
}

#unverified,
#sign_in {
  width: 290px;
  height: 306px;
}

#authenticated {
  padding: 0px;
  width: 290px;
  height: 134px;
}

.title {
  color: #666666;
  font-size: 1.4em;
  line-height: 1.7em;
  margin: auto;
  text-align: center;
}

.description {
  color: #666666;
  font-size: .9em;
  line-height: 1.7em;
  margin: auto;
  text-align: center;
  margin-bottom: 5px;
  width: 200px;
}

.graphic-choose-what-to-sync {
  background-image: url('../../icons/choose_what_to_sync_devices.svg');
  height: 103px;
  width: 202px;
  background-repeat: no-repeat;
  margin: 25px 44px 9px 44px;
}

.graphic-mail {
  background-image: url('../../icons/graphic_mail.svg');
  height: 100px;
  width: 200px;
  background-repeat: no-repeat;
  margin: 36px 44px 9px 44px;
}

.hidden {
  display: none;
}

#display-name,
#email {
  color: #666666;
  line-height: 1.6em;
  font-size: 1em;
}

#avatar {
  background-image: url('../../icons/avatar.svg');
  background-size: contain;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px 7px 16px;
  width: 100%;
}

li:hover:not(:first-child){
  background: #ededed;
}

li img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

#avatar {
  margin-right: 16px;
  margin-left: 5px;
}

.menu-item {
  display: flex;
  align-items: center;
  height: 18px;
  font-size: 13px;
}

.avatar-menu {
  height: 46px;
}

/* Taken from content server css */
.button,
button {
  align-items: center;
  background: rgba(12, 12, 13, 0.1);
  border: 0;
  border-radius: 4px;
  color: #0c0c0d;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  font-weight: 300;
  height: 41px;
  justify-content: center;
  letter-spacing: 0.2px;
  padding: 0 8px;
  transition-duration: 150ms;
  transition-property: background-color;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 200px;
  margin: 10px 44px 9px 44px;
}

button.primary-button {
  background: #0060df;
  color: #fff;
}

.button[type='submit']:hover, .button.primary-button:hover,
.settings-button[type='submit']:hover,
.settings-button.primary-button:hover,
button[type='submit']:hover,
button.primary-button:hover {
  background: #003eaa;
}

.button[type='submit']:active, .button.primary-button:active,
.settings-button[type='submit']:active,
.settings-button.primary-button:active,
button[type='submit']:active,
button.primary-button:active {
  background: #002275;
}
